
## exported functions
export('ADAM.panessprofile')

## not documented
export('ADAM.randomisedepMat')
export('ADAM.generateNullModel')
export('ADAM.empiricalOdds')
export('ADAM.truePositiveRate')
export('ADAM.tradeoffEO_TPR')

exportPattern("^[[:alpha:]]+")
